.Homebackground {
  background: linear-gradient(270deg, #001644, #380052, #0a004b);
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;
  position: fixed;
  inset: 0;
  overflow-y: scroll;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}
